body{
    font-family: 'League Spartan', sans-serif;
    margin: 0px;
    width: 100%;
    overflow-x: hidden;
}
h1{
    font-size: 32px;
    color: #004EA5;
}
h2{
    font-size: 24px;
    margin-top: -10px;
    font-weight: 300;
}
p{
    font-weight: 300;
    font-size: 18px;
}
input{
    margin: 10px 20px;
}
label{
    font-weight: 300;
    font-size: 18px;
}
.input_txt{
margin-left: -0px;
    width: 90%;
    border: none;
    border-bottom: 2px solid #F8F8F8;
}
textarea{margin-left: -0px;
    width: 90%;
    border: none;
    border-bottom: 2px solid #F8F8F8;}

.footer_a{
    color: #FF983E;
    text-decoration: none;
}
#tt{
    overflow-x: hidden;
}
nav{
    /*box-shadow: 0px 3px 6px rgba(68, 68, 68, 0.075);*/
}
.nb{
    font-size: 24px;
    text-decoration: none;
    color: #004EA5;
}
#nb{
   margin: 1% 3%;
   
}
#orange_bar{
    height: 25px;
    background-color: #FF983E;
}
#c_t_1{
    height: 700px;
    background-image: url(../images/version_essai.jpg);
background-repeat: no-repeat;
background-size: cover;
box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.4);

}
#c_t_2{
    height: 700px;
    background-image: url(../images/societe.jpg);
background-repeat: no-repeat;
background-size: cover;
box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.4);

}
#c_t_3{
    height: 700px;
    background-image: url(../images/referencement.jpg);
background-repeat: no-repeat;
background-size: cover;
box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.4);

}
#c_btn{
    margin-top: 150px;
    
}
#c_txt{
    position:sticky;
    margin-top: 250px;
  
}
#test{
    padding: 20px 20px;
    background-color: #004EA5;
    font-size: 32px;color: white;
    text-decoration: none;
    border-radius: 2px;
}
#btn_c{
border-radius: 100px;
height: 10px;
width: 10px;
border: 2px solid #FF983E ;
background-color: transparent;
opacity: 1!important;
margin: 7px;
}
.carousel-indicators .active{
    background-color: #FF983E!important;
    border: 2px solid #FF983E !important;
    opacity: 1!important;
}
#ep{
   background-color: #004EA5; 
   text-decoration: none;
   color: white;
   border-radius: 1px;
   padding: 10px 15px;
}
#ep_b{
    background-color: #004EA5; 
    text-decoration: none;
    color: white;
    border-radius: 1px;
    padding: 10px 15px;
    font-size: 18px; 

 }
 #ep_o{
    background-color: #FF983E; 
    text-decoration: none;
    color: white;
    border-radius: 1px;
    padding: 10px 15px;
font-size: 18px; 
}
#p_title{
    margin: 90px;
    font-size: 38px;
font-weight: 300;
}
#ttl{
    font-size: 32px;
    color: #004EA5;
}
#ok{
    margin-left: 50px;
    margin-top: 15px;
    width: 50px;
}
#check ul li{
    list-style-image: url(../images/Composant\ 3\ –\ 1.png);
}
#check ul li::before{
width: 2px;
}
#ttls{
    font-size: 24px;
    margin-top: -20px;
    font-weight: 300;
}
#version{
    background-color: #F8F8F8;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.048);
}
.price_box{
    text-align: center;
    border-radius: 2px;
    width:200px;
    height: 200px;
    font-size: 24px;
    color: white;
}
#menu_:hover #sous{
display: block!important;
}
#sous ul li:hover{
background-color: #004EA5;
color: white;
cursor: pointer;
box-shadow: 0px 3px 6px rgba(77, 77, 77, 0.226);
}
#sous ul li{
list-style: none;
padding: 10px 10px 10px 15px;
text-align: start;
}
#sous ul li a{
    text-decoration: none;
    color: #004EA5;
    }
#sous ul li:hover a{
    text-decoration: none;
    color: #ffffff;
    }
#burg{
    display: none;
}
#burg_m{
    position: absolute!important; 
    background-color: #FFFFFFFF;
    margin-top: 380px;
    width: 1500px;
    margin-left: -40px;
    margin-bottom: -100px;
    margin-right: 0px;
   display: none;
 
}
.hi{
    display: none;
}
.sh{
    display: block!important;  
}
#burg_m div a{
    color: #004EA5;
    text-decoration: none;
    font-size: 18px;
}
#burg_m div:not(#bar){
    padding: 15px 10px;
    margin-left: 20px;
}
.price_box_m{
    font-size: 32px;
}
#new{
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
iframe{
    width: 650px;
    height: 270px;
}
.footer_p{
    text-align: start;
     margin-top: -22px;  
     font-size: 18px;
}
#Coordonnees_txt{
    margin-left: 50px;
}
#form_ttl{
    display: flex;
    width: 100%;
    margin-top: -300px;
    position: absolute;
}
#form_ttl_s{
    color: #004EA5;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    z-index: 10;
    background-color: #ffffff;
    padding: 25px 50px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.048);
}
#prise_en_main_txt{
    padding: 20px 30%;
}
hr{
    color: #004EA5;
     width: 10%;
     opacity: 1;
}
.td_o{
color: #ffffff;
background-color: #FF983E;
text-align: center;
font-size: 24px;
}
.td_b{
color: #FF983E;
    text-align: center;
    font-size: 24px;
    }
td{
    border: 2px solid white;
}
.img_exemple{
    margin: 20px;
    height: 350px;
    width: 500px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.048);
object-fit: cover;
}
#block_l_up{
    margin: 0px 150px;
}
.td_g{
    font-size: 18px;
    font-weight: 300;
    color: gray;
}
#ml{
    font-weight: 300;
    margin-top: -50px;
    margin-left: 150px;
}
/*.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 9999;
    display: none;
}*/
@media (max-width: 1500px) {
    footer div div div h1{
        font-size: 18px!important;
    }
    footer div div div p{
        font-size: 16px!important;
    }
    #block_l_up{
        margin: 0px 100px;
    }
    }
 
   
  
    @media (max-width: 1200px) {
        #block_f{
            background-image: url(../images/formation.jpg);
            background-size: cover;
        }
        #block_f div{
            backdrop-filter: blur(10px);
        }
        #img_f{
            display: none;
        }
        #block_l_up{
            margin: 0px 50px;
        }
        #ep_b{
font-size: 14px;
        }
        #ep_o{
            font-size: 14px;
                    }
        label{
            font-weight: 300;
            font-size: 18px;
        }
        #p_title{
            font-size: 32px;
        }
        .navbar-nav{
            display: none;
        }
        #burg{
            display: block;
        }
        .price_box{
            text-align: center;
            border-radius: 2px;
            width:150px;
            height: 150px;
            font-size: 18px;
            color: white;
        }
        #test{
            padding: 20px 20px;
            background-color: #004EA5;
            font-size: 24px;color: white;
            text-decoration: none;
            border-radius: 2px;
        }
        #new{
            font-size: 18px;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .price_box_m{
            font-size: 24px;
        }
        iframe{
            width: 350px;
            height: 350px;
        }
      }
      @media (min-width: 1220px) {
        #burg_m{
            display: none!important;
        }
     
       
      }
      @media (max-width: 772px) {
        #block_r_r{
            background-color: #C50E1F;
            padding: 20px;
        }
        #block_r_r div h1 {
            color: white;
        }
        #block_r_r div h2 {
            color: rgb(255, 255, 255);
        }
        #block_r_r div ul li {
            color: white;
        }
        #block_r_p{
            background-color: #F8C39C;
            padding: 20px;
        }
        #block_r_p div h1 {
            color: white;
        }
        #block_r_p div h2 {
            color: rgb(255, 255, 255);
        }
        #block_r_p div ul li {
            color: white;
        }
        #block_r_lo{
            background-color: #F6AD6E;
            padding: 20px;
        }
        #block_r_lo div h1 {
            color: white;
        }
        #block_r_lo div h2 {
            color: rgb(255, 255, 255);
        }
        #block_r_lo div p {
            color: white;
        }
        #block_r_o{
            background-color: #EE7F00;
            padding: 20px;
        }
        #block_r_o div h1 {
            color: white;
        }
        #block_r_o div h2 {
            color: rgb(255, 255, 255);
        }
        #block_r_o div p {
            color: white;
        }
        #block{
            display: none!important;
        }
        .td_b{
            font-size: 16px;
        }
        .td_o{
            font-size: 16px;
        }
        #block_l_up{
            margin: 20px 5px;
        }
        #prise_en_main_txt{
            padding: 20px 20%;
        }
        #form_ttl{
            margin-top: -325px!important;
        }
        #form_ttl_s{
            font-size: 28px!important;
        }
        label{
            font-size: 13px;
        }
        h1{
            font-size: 24px;
        }
        h2{
            font-size: 18px;
        }
        p{
            font-size: 13px;
        }
      
        #p_title{
            font-size: 24px;
        }
        footer div div div h1{
            font-size: 16px!important;
        }
        footer div div div p{
            font-size: 12px!important;
        }
        iframe{
            margin-top: 50px;
            width: 550px;
            height: 250px;
        }
        #uhhh{
        }
        .price_box{
            margin-top: 25px;
         }
     
    }
    @media (max-width: 576px) {
        #ml{
            font-size: 10px;
            margin-left: 15px;

        }
        .img_exemple{
            width: 175px;
            height: 100px;
        }
        .td_g{
            font-size: 8px!important;
        }
        .td_b{
            font-size: 12px;
        }
        .td_o{
            font-size: 12px;
        }
        #prise_en_main_txt{
            padding: 10px;
        }
        #form_ttl{
            margin-top: -290px!important;
        }
        #form_ttl_s{
            font-size: 24px!important;
            padding: 10px 25px!important;
        }
        #p_title{
            font-size: 18px!important;
        }
        #form{
            padding: 25px!important;
        }
        .price_box{
            text-align: center;
            border-radius: 2px;
            width:120px;
            height: 120px;
            font-size: 16px;
            color: white;
        }
        .price_box_m{
            font-size: 18px;
        }
        #sn{
            justify-content: center;
             display: flex;
             
            margin: 30px 10px;
        }
        #sn h1{
            margin-right: 10px;
        }
        #logo{
            width: 75%;
            
            margin-left: 20px;
        }
        iframe{
            margin-top: 50px;
            width: 100%;
            height: 150;
        }
        #ttl{
            font-size: 24px;
        }
        #p_title{
    font-size: 24px;
    margin: 20px 0px;
        }
        #Coordonnees_txt{
            margin-left: -20px;
            font-size: 12px;
        }
        #Coordonnees_txt h1{
            font-size: 12px;
        }
        .price_box{
           margin-top: 20px;
        }
        #uhhh{
        }
    }